body{
    /* background-color: #fff7f2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23fac9c3' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23ffd6cf' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23eec3cd' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23f7d0da' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23dbc0d4' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23e5cde3' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c7bed4' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23cecce6' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23b5bbcd' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b8cbe1' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a9b7c2' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23a9c9d4' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover; */
    background-color: #fffcfa;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23f1e6fa' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23dbb8db' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23e7e2f6' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23d2bcda' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23ddddf2' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23c9bfd8' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d2d8ee' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23bfc2d7' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c6d4ea' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23b4c6d5' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23bacfe6' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23a9c9d4' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.btn-danger {
    background-color: rosybrown;
}

.btn-warning {
    background-color: burlywood;
    color: black;
}

.bg-slate {
    background-color: gainsboro;
}

.nav-link {
    font-size: 1rem;
    font-weight: bolder;
}

.btn {
    font-size: .7rem;
    /* border: 2px solid dimgray; */
}

.navbar {
    background-color: #fffcfa;
}

.form-control {
    background-color: lightgray;
}

.card, .card-footer{
    border: 2px solid dimgray;
}

/* .card-footer{
    border: 1px solid dimgray;
} */